.vscode/**
.vscode-test/**
node_modules/**
src/**
out/**/*.map
*.vsix
.gitignore
.eslintrc*
eslint.config.*
tsconfig.json
esbuild.js
vscode.d.ts
*.md
!README.md
**/*.spec.ts
**/*.test.ts
**/test/**
.prettierrc
.editorconfig
